#wrapper {
    padding: 0 !important;
    
}

.sidebar {
    background: #2A3F54;
    height: 100%;
    padding: 0 !important;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.sidebar ul>li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul>li a {
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    background: #2A3F54;
    padding: 0 10px;
}

.dashboard {
    background: #2A3F54;
}

.page-content {
    height: 1050px;
    background: #fefefe;
}