
/***********************
Variable
************************/
$font-blue: #2A3F54;


body {

    background: #eee;
}


//**********************dashboard
#wrapper {
    padding-left: 250px;
}
@import "_sidebar";


